<script>
  $(window).load(function() {
    mdot.init();
  });
</script>

<div class="container main">
  <div class="left-main">

    <div class="left-main">

      <div id='iphone'>
        <div class='screen'></div>
      </div>  

    </div>


  </div>
  <div class="right-main">
    <h1>Mobilify</h1>
    <h2>Make your restaurant website mobile friendly.</h2> 
    <hr/>
    <p>
    95% of independent restaurants don't have mobile sites. Of those who do, 1 in 3 visitors will place
    an immediate call to the business to place an order!
    </p>
    <br />
    <p>
    For only $5 a month, we can convert your existing website into a mobile-optimized one, complete with
    Tap-to-Call, easy menu flip-through, incredible integration with social marketing and much more. We call
    this <b>Mobilification</b>.
    </p>
    <hr/>

    <div>
      <input id='url_input' class='span4' type='text' placeholder='Enter your site url here'></input>
      <select class='span4' id='url_select'>
        <option value='http://www.tresamigos.com'>tresamigos</option>
        <option value='http://www.havanamania.com'>havanamania</option>
        <option value='http://www.restaurant-lebrouillarta.com/'>restaurant-lebrouillarta</option>
        <option value='http://www.serdas.com/'>serdas</option>
        <option value='http://www.killermargaritas.com'>killermargaritas</option>
        <option value='http://www.soffritto.com'>soffritto</option>
        <option value='http://www.tazzacaffe.com'>tazzacaffe</option>
        <option value='http://ricenspicethai.com/'>ricenspicethai</option>
        <option value='http://whatthepho.net/'>whatthepho</option>
        <option value='http://www.phohoa.com/'>phohoa</option>
        <option value='http://www.anitascrepes.com/'>anitascrepes</option>
        <option value='http://www.lacreperievoila.com/'>lacreperievoila</option>
        <option value='http://chengduchineserestaurant.com/'>chengduchineserestaurant</option>

        <option value='http://www.littleotterswim.com'>littleotterswim</option>
        <option value='http://www.fosterharris.com'>fosterharris</option>
        <option value='http://www.aquaplasticsurgery.com'>aquaplasticsurgery</option>
        <option value='http://www.hearstnonprofit.com/english/indexen.html'>hearstnonprofit</option>
        <option value='http://www.lamppostpublishing.com'>lamppostpublishing</option>
        <option value='http://www.cissecurity.ca'>cissecurity</option>
        <option value='http://www.425motorsports.com'>425motorsports</option>
        <option value='http://www.toptiercomputerservices.com'>toptiercomputerservices</option>
        <option value='http://www.tradingpub.com'>tradingpub</option>
        <option value='http://wilkinsmiller.com'>wilkinsmiller</option>
        <option value='http://www.atisw.com'>atisw</option>
        <option value='http://www.justorthodontics.com'>justorthodontics</option>
        <option value='http://www.lillypadvillage.com'>lillypadvillage</option>
        <option value='http://www.nickusborne.com'>nickusborne</option>
        <option value='http://www.ladeedogs.com'>ladeedogs</option>
        <option value='http://www.jjsproperty.com'>jjsproperty</option>
        <option value='http://www.gjawning.com'>gjawning</option>
        <option value='http://www.uptempomagazine.com'>uptempomagazine</option>
        <option value='http://www.ecommonwealthbank.com'>ecommonwealthbank</option>
      </select>

      <button id='action' class="btn btn-large btn-block btn-primary">Mobilify!</button>
      <button id='before' class="btn btn-large btn-block btn-primary">Before</button>
      <button id='after' class="btn btn-large btn-block btn-primary">After</button>

      <%= form_tag '/savePage', :id => 'savePageForm' do %>
        <%= hidden_field_tag 'iphoneHtml' %>
        <%= submit_tag 'Save and continue', :class => 'btn btn-large btn-block btn-primary' %>
      <% end %>

    </div>

  </div>
</div>

<div class="container row features">
  <div class="offset1 span4">
    <h3>
      <i class="icon-phone-sign icon-large"></i>
      Tap-to-Call
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset0 span4">
    <h3>
      <i class="icon-map-marker icon-large"></i>
      Tap-to-Navigate
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset1 span4">
    <h3>
      <i class="icon-magic icon-large"></i>
      Keeping same Look & Feel
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset0 span4">
    <h3>
      <i class="icon-external-link icon-large"></i>
      Automatic redirect to mobile
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset1 span4">
    <h3>
      <i class="icon-facebook-sign icon-large"></i>
      Social network marketing
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset0 span4">
    <h3>
      <i class="icon-qrcode icon-large"></i>
      The magic of QR code
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset1 span4">
    <h3>
      <i class="icon-bar-chart icon-large"></i>
      Mobile site traffic analytics
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset0 span4">
    <h3>
      <i class="icon-list-alt icon-large"></i>
      Easy menu navigation
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
