<script>
  $(window).load(function() {
    mdot.init();
  });
</script>

<div class="container main">
  <div class="left-main">

    <div class="left-main">

      <div id='iphone'>
        <div class='screen'>

        </div>
      </div>  

      <div id='chrome' class='hidden'>
      </div>
    </div>


  </div>
  <div class="right-main">
    <h1>Mobilify</h1>
    <h2>Make your restaurant website mobile friendly.</h2> 
    <hr/>
    <p>
    95% of independent restaurants don't have mobile sites. Of those who do, 1 in 3 visitors will place
    an immediate call to the business to place an order!
    </p>
    <br />
    <p>
    For only $5 a month, we can convert your existing website into a mobile-optimized one, complete with
    Tap-to-Call, easy menu flip-through, incredible integration with social marketing and much more. We call
    this <b>Mobilificaiton</b>.
    </p>
    <hr/>

    <div>
      <input class='span4' type='text' placeholder='Enter your site URL'></input>
      <select class='span4' id='url'>
        <option value='http://www.tresamigos.com'>tresamigos.com</option>
        <option value='http://www.littleotterswim.com'>littleotterswim.com</option>
        <option value='http://www.fosterharris.com'>fosterharris.com</option>
        <option value='http://www.aquaplasticsurgery.com'>aquaplasticsurgery.com</option>
        <option value='http://www.hearstnonprofit.com/english/indexen.html'>hearstnonprofit.com</option>
        <option value='http://www.lamppostpublishing.com'>lamppostpublishing.com</option>
        <option value='http://www.cissecurity.ca'>cissecurity.com</option>
        <option value='http://www.425motorsports.com'>425motorsports.com</option>
        <option value='http://www.toptiercomputerservices.com'>toptiercomputerservices.com</option>
        <option value='http://www.tradingpub.com'>tradingpub.com</option>
        <option value='http://wilkinsmiller.com'>wilkinsmiller.com</option>
        <option value='http://www.atisw.com'>atisw.com</option>
        <option value='http://www.justorthodontics.com'>justorthodontics.com</option>
        <option value='http://www.lillypadvillage.com'>lillypadvillage.com</option>
        <option value='http://www.nickusborne.com'>nickusborne.com</option>
        <option value='http://www.ladeedogs.com'>ladeedogs.com</option>
        <option value='http://www.jjsproperty.com'>jjsproperty.com</option>
        <option value='http://www.gjawning.com'>gjawning.com</option>
        <option value='http://www.uptempomagazine.com'>uptempomagazine.com</option>
        <option value='http://www.ecommonwealthbank.com'>ecommonwealthbank.com</option>
      </select>

      <button id='action' class="btn btn-large btn-block btn-warning">Mobilify!</button>
    </div>

  </div>
</div>

<div class="container row features">
  <div class="offset1 span4">
    <h3>
      <i class="icon-phone-sign icon-large"></i>
      Tap-to-Call
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset0 span4">
    <h3>
      <i class="icon-map-marker icon-large"></i>
      Tap-to-Navigate
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset1 span4">
    <h3>
      <i class="icon-magic icon-large"></i>
      Keeping same Look & Feel
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset0 span4">
    <h3>
      <i class="icon-external-link icon-large"></i>
      Automatic redirect to mobile
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset1 span4">
    <h3>
      <i class="icon-facebook-sign icon-large"></i>
      Social network marketing
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset0 span4">
    <h3>
      <i class="icon-qrcode icon-large"></i>
      The magic of QR code
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset1 span4">
    <h3>
      <i class="icon-bar-chart icon-large"></i>
      Mobile site traffic analytics
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="offset0 span4">
    <h3>
      <i class="icon-list-alt icon-large"></i>
      Easy menu navigation
    </h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
