<script>
  $(window).load(function() {
    mdot.init();

  });
</script>

<div class='hero-unit' style='background-color:white'>

  <div class='row-fluid'>
    <div class='span6'>
      <h1>
        Make your site mobile friendly today
      </h1>
      <h3>Mbilify makes it extremely easy to optimize your website for your smartphone customers.</h3>
      <br />
      <p><span class="label label-success">Try for yourself</span></p>
      <p><input id='url_input' type='text' placeholder='Enter your site url here'></input></p>
      <select id='url_select' style='display:none'>
        <option value='http://www.tresamigos.com'>tresamigos</option>
        <option value='http://www.havanamania.com'>havanamania</option>
        <option value='http://www.restaurant-lebrouillarta.com/'>restaurant-lebrouillarta</option>
        <option value='http://www.serdas.com/'>serdas</option>
        <option value='http://www.killermargaritas.com'>killermargaritas</option>
        <option value='http://www.soffritto.com'>soffritto</option>
        <option value='http://www.tazzacaffe.com'>tazzacaffe</option>
        <option value='http://ricenspicethai.com/'>ricenspicethai</option>
        <option value='http://whatthepho.net/'>whatthepho</option>
        <option value='http://www.phohoa.com/'>phohoa</option>
        <option value='http://www.anitascrepes.com/'>anitascrepes</option>
        <option value='http://www.lacreperievoila.com/'>lacreperievoila</option>
        <option value='http://chengduchineserestaurant.com/'>chengduchineserestaurant</option>
        <option value='http://www.littleotterswim.com'>littleotterswim</option>
        <option value='http://www.fosterharris.com'>fosterharris</option>
        <option value='http://www.aquaplasticsurgery.com'>aquaplasticsurgery</option>
        <option value='http://www.hearstnonprofit.com/english/indexen.html'>hearstnonprofit</option>
        <option value='http://www.lamppostpublishing.com'>lamppostpublishing</option>
        <option value='http://www.cissecurity.ca'>cissecurity</option>
        <option value='http://www.425motorsports.com'>425motorsports</option>
        <option value='http://www.toptiercomputerservices.com'>toptiercomputerservices</option>
        <option value='http://www.tradingpub.com'>tradingpub</option>
        <option value='http://wilkinsmiller.com'>wilkinsmiller</option>
        <option value='http://www.atisw.com'>atisw</option>
        <option value='http://www.justorthodontics.com'>justorthodontics</option>
        <option value='http://www.lillypadvillage.com'>lillypadvillage</option>
        <option value='http://www.nickusborne.com'>nickusborne</option>
        <option value='http://www.ladeedogs.com'>ladeedogs</option>
        <option value='http://www.jjsproperty.com'>jjsproperty</option>
        <option value='http://www.gjawning.com'>gjawning</option>
        <option value='http://www.uptempomagazine.com'>uptempomagazine</option>
        <option value='http://www.ecommonwealthbank.com'>ecommonwealthbank</option>
      </select>

      <p>
      <a id='action' class='btn btn-block btn-success btn-large'>Mobilify your desktop site!</a>
      </p>

    </div>

    <div class='span6'>
      <div class="phones">
        <div class='mobile'>
          <div class='screen'></div>
        </div>  
        <div class='desktop'>
          <div class='screen'></div>
        </div>  
        <div class='hidden'></div>
      </div>       
      <br />
      <div class='offset5'>
        <a class='btn btn-large btn-success before'>Before</a>
        <a class='btn btn-large btn-success after'>After</a>
      </div>
    </div>

  </div>

</div>

<div class="row">

  <div class='span12'>

    <blockquote class='pull-right'>
      <p><strong>95%</strong> of independent restaurants don't have mobile sites, only <strong>40%</strong> have online menus</p>
      <small><cite title="Source Title">Restaurant Sciences</cite></small>
    </blockquote>

    <div class='row'>
      <div class="span6">
        <h3>
          <i class="icon-phone-sign icon-large"></i>
          Tap-to-Call
        </h3>
        <p></p>
      </div>
      <div class="span6">
        <h3>
          <i class="icon-map-marker icon-large"></i>
          Tap-to-Navigate
        </h3>
        <p></p>
      </div>
    </div>

    <div class='row'>
      <div class="span6">
        <h3>
          <i class="icon-magic icon-large"></i>
          Same Look & Feel
        </h3>
        <p></p>
      </div>
      <div class="span6">
        <h3>
          <i class="icon-external-link icon-large"></i>
          Redirect
        </h3>
        <p></p>
      </div>
    </div>

    <div class='row'>
      <div class="span6">
        <h3>
          <i class="icon-facebook-sign icon-large"></i>
          Social
        </h3>
        <p></p>
      </div>
      <div class="span6">
        <h3>
          <i class="icon-qrcode icon-large"></i>
          QR Code
        </h3>
        <p></p>
      </div>
    </div>

    <div class='row'>
      <div class="span6">
        <h3>
          <i class="icon-bar-chart icon-large"></i>
          Traffic Analytics
        </h3>
        <p></p>
      </div>
      <div class="span6">
        <h3>
          <i class="icon-list-alt icon-large"></i>
          Menu Navigation
        </h3>
        <p></p>
      </div>
    </div>
  </div>

</div>
